
body * {
    font-family: 'Courier Prime', monospace;
    margin: 0px;
    padding: 0px;
    text-align: center;
    border: 0px;
}

html {
    scroll-behavior: smooth;
}



/* Navbar */
.navbar {
    background-color: #394053;
    color: #FDECEF;
    font-family: 'Courier Prime', monospace;
    font-weight: 400;
    width: 100%;
    height: 60px;
}

.navbar-brand {
    padding-left: 10vw;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    color: black!important;
    border: 1px solid #FDECEF;
    border-radius: 1.25rem;
}

.navbar-toggler-icon {
    width: 1.5em;
    height: 1.5em;
    background: #FDECEF;
    border-radius: 50%;
    filter: blur(3px);
}


nav a {
    background-color:#394053; 
    color: #FDECEF;
}

nav a:hover {
    background-color:#394053; 
    color: #FDECEF;
    filter: blur(1px)
}

/* Main-section */

.hero-section {
    display: inline-block;
    background-image: url('/assets/img/stanley-dai-73OZYNjVoNI-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    color: #FDECEF;
    text-shadow: 0em 0.125em 0em #282F44;
    width: 100%;
    height: 56vw;
}

.hero-texto {
    padding-top: 185px;
    padding-right: 3%;
    font-size: 30%;
}

header h1,
header h2 {
    font-weight: 700;
    color: #FDECEF;
    margin-bottom: 0.25em;
    padding-bottom: 0.25em;
    display: inline-block;
}


.horizontal-row-body {
    height: 2px;
    width: 115px;
    background-color: black;
    text-align: -webkit-center;
}
.pb-5, .py-5 {
    padding-bottom: 1rem!important;

}

/* Animation */

.hero-section h1,
.hero-section h2 {
    animation-duration: 1.5s;
    animation-name: slidein;
    animation-iteration-count: 2;
    animation-direction: alternate;
      
}

@keyframes slidein {
    from {
        margin-right: 100%;
        width: 300%
}
          
    to {
        margin-left: 0%;
        width: 100%;
        }
}


/* Media Queries */

@media (max-width: 600px) {
    .hero-texto h1,
    .hero-texto h2 {
    font-size: 21px;
    }
}

@media (max-width: 600px) {
    .hero-texto h1,
    .hero-texto h2 {
        background-color: transparent;
        }
}
@media (max-width: 600px) {
    .hero-texto h1,
    .hero-texto h2 {
        width: 100%;
        }
}

@media (max-width: 600px) {
    .hero-texto {
        padding-top: 100px;
    }
}

@media (max-width: 600px) {
    .my-4 {
        margin-top: -0.5rem!important;
    }
}
@media (max-width: 600px) {
    .mt-4 {
        margin-top: -0.5rem!important;
    }
}

@media (max-width: 600px) {
    .hero-section {
        height: 150vw;
    }
}

@media (max-width: 600px) {
    .hero-section {
        background-position-x: 49%;
    }
}

@media (max-width: 600px) {
    #my-experience {
        padding-top: 0px;
        margin-top: 0px;
        height: 679px;
    }
}
@media (max-width: 600px) {
    .pt-5, .py-5 {
        padding-top: 2rem!important;
    }
}
@media (max-width: 600px) {
    .pb-5, .py-5 {
        padding-bottom: 3rem!important;
    }
}


/* About-section */

#about-section {
    margin-top: 0px;
    padding-top: 100px;
}


/* Paragraph-section */

#paragraph-section {
    margin-top: 100px;
}


/* My experience section */
#my-experience {
    padding-left: 0px;
    padding-top: 0px;
}


/* Carousel */

#carouselExampleIndicators {
    padding-bottom: 3rem!important;
}


.carousel-item img{
    width: 233px;
    height: 170px;
}

.carousel-indicators li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #1D3461;
}


/* Font Awesome experience */
.font-awesome-experience {
    font-size: 85px;
    padding-left: 0%;
    color: #1D3461;
    padding-top: 50px;
    padding-bottom: 50px;
}

.font-awesome-experience:hover {
    filter: blur(1px);
}

.font-awesome-experience h2 {
    font-size: 20%;
    font-family: 'Chilanka', cursive;
}



/* Button */

.btn {
    background-color: #1D3461;
    color: #FDECEF;
    font-size: 40px;
    padding: 0px;
}


/* Tooltip */
.tooltip-inner{
    font-family: 'Chilanka', cursive;
    background-color: #324376;
    color: #FDECEF;
    font-size: 15px;
    padding: 10px;
    border-radius: 50%;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
    border-bottom-color: #324376 !important;
}
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    border-top-color: #324376 !important;
}
.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
    border-left-color: #324376 !important;
}
.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
    border-right-color: #324376 !important;
}


/* My works section */

#my-works {
    background-color: #394053;
    color: #000000;
}
.card {
    margin: 20px;
}
.card h5,
.card p {
    font-family: 'Chilanka', cursive;
    font-size: 100%;
}

.card-total {
    padding-bottom: 150px;
}


/* Footer */

.footer-font-awesome {
    width: 100%;
    height: 200px;
    background-color: #394053;
    color: #FDECEF;
}

.footer-font-awesome .fab {
    color: #FDECEF;
}

.ul-footer {
    padding-top: 80px;
    text-align: center;
}

.brand-footer h2 {
    padding-top: 85px;
    font-size: 15px;
    text-align: center;
}

.brand-footer a {
    color: #FDECEF;
    text-decoration: none;
}

.brand-footer a h2:hover {
    filter: blur(1px);
}

.ul-footer ul i:hover {
    filter: blur(1px);
}



