
body {
    font-family: 'Courier Prime', monospace;
}

html {
    scroll-behavior: smooth;
  }



/* Navbar */
.navbar {
    background-color: #394053;
    color: #ffffff;
    font-family: 'Courier Prime', monospace;
    font-weight: 400;
    width: 100vw;
}

a {
    color: #ffffff;
}

/* Header */

header img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 56vw;
}

header h1,
header h2 {
    display: block;
    margin-top: -200px;
    color: #FDECEF;
    text-shadow: 0em 0.125em 0em #282F44;
    font-size: 45px;
}

header h1 {
    font-weight: 700;
    color: #FDECEF;
}

/* Animation */
.hero-section h1,
.hero-section h2 {
    animation-duration: 1.5s;
    animation-name: slidein;
    animation-iteration-count: 2;
    animation-direction: alternate;
      
}

@keyframes slidein {
    from {
        margin-right: 100%;
        width: 300%
}
          
    to {
        margin-left: 0%;
        width: 100%;
        }
}


/* About-section */

#about-section {
    margin-top: 0px;
    padding-top: 100px;
}


/* Paragraph-section */

#paragraph-section {
    margin-top: 100px;
}


/* My experience section */
#my-experience {
    padding-left: 50px;
    padding-top: 80px;
}

/* Carousel */


.carousel-item img{
    width: 233px;
    height: 170px;
}

.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1D3461;
}

.font-awesome {
    font-size: 85px;
    padding-left: 10%;
}

/* Button */

.btn {
    background-color: #1D3461;
    color: #FDECEF;
    font-size: 40px;
}


/* Tooltip */
.tooltip-inner{
    font-family: 'Chilanka', cursive;
    background-color: #324376;
    color: #ffffff;
    font-size: 13px;
    border-radius: 50%;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
    border-bottom-color: #324376 !important;
}
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    border-top-color: #324376 !important;
}
.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
    border-left-color: #324376 !important;
}
.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
    border-right-color: #324376 !important;
}


/* My works section */

#my-works {
    background-color: #394053;
    color: #ffffff;
}



/* Footer */

footer {
    width: 100%;
    height: 200px;
    background-color: #394053;
    color: #ffffff;
}